@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: 'Roboto Condensed', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body.dark {
  --textColor: #ffffff;
  --background: rgba(15, 23, 42, 0.5);
  --cardBg: rgba(255, 255, 255, 0.075);
}

body.light {
  --textColor: #1f2937;
  --background: rgba(255, 255, 255, 0.349);
  --cardBg: rgba(255, 255, 255, 0.285);
}

::selection {
  background-color: #4597df;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #0D87F3, 0 0 30px #0D87F3, 0 0 40px #0D87F3, 0 0 55px #0D87F3, 0 0 75px #0D87F3;
}

main {
  height: 100%;
  width: 100%;
  background: url(./images/dayBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  object-fit: cover;
  position: relative;
  transition: all ease 1s;
  font-family: "Roboto";
}

.productiveCon {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textColor);
}

.dashboard-card {
  width: 520px;
  padding: 20px;
  align-self: flex-end;
  border-radius: 28px;
  background: var(--background);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  box-shadow:
    0 15px 45px rgba(0, 0, 0, .25),
    inset 0 1px 1px var(--background);

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
}

.time {

  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 10px;
}

.date {
  font-size: 25px;
  opacity: .7;
}

.weather-icon {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, .08);
  border: 1px solid rgba(255, 255, 255, .15);
}

.divider {
  width: 100%;
  height: 1px;
  margin: 25px 0;
  background: rgba(255, 255, 255, .15);
}

.weather-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.weather-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 18px;
  border-radius: 18px;
  background: var(--cardBg);
  border: 1px solid var(--cardBg);
  transition: .3s;
}

.weather-item:hover {
  transform: translateY(-5px);
  background: var(--cardBg);
}

.weather-item i {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--cardBg);
  font-size: 27px;
  color: #7DD3FC;
}

.weather-item h3 {
  font-size: 20px;
  font-weight: 700;
}

.weather-item p {
  margin-top: 4px;
  font-size: 15px;
  opacity: .75;
}

.productiveFunc {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  gap: 10px;
}


.github-btn {
  text-decoration: none;
  color: var(--textColor);
}

.productiveFunc .circle {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--background);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  color: var(--textColor);
  font-size: 28px;
  cursor: pointer;
  transition: .35s;
}

.circle:hover {
  transform: scale(1.1);
}

.productiveFunc .circle:active {
  transform: scale(.8);
}

.overlay {
  height: 95%;
  width: 95%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  backdrop-filter: blur(40px) saturate(180%);
  -webkit-backdrop-filter: blur(40px);
  box-shadow:
    0 25px 60px rgba(0, 0, 0, .18),
    inset 0 1px 1px var(--background);
  overflow: hidden;
  border-radius: 32px;
}

.quote-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 60px;
  overflow: hidden;
}

.quote-container::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  top: -160px;
  left: -160px;
  border-radius: 50%;
  background: radial-gradient(circle,
      rgba(120, 95, 255, .45),
      transparent 70%);
}

.quote-container::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  right: -120px;
  bottom: -120px;
  border-radius: 50%;
  background: radial-gradient(circle,
      rgba(0, 191, 255, .25),
      transparent 70%);
}

.quote-container::before,
.quote-container::after {
  pointer-events: none;
}

.close-btn,
.refresh {
  position: absolute;
  z-index: 100;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 50%;
  background: var(--cardBg);
  color: var(--textColor);
  font-size: 28px;
  cursor: pointer;
  transition: .3s;
}

.close-btn:hover {
  background-color: var(--textColor);
  color: #7a5cff;
  transform: rotate(90deg);
}

.quote-icon {
  font-size: 120px;
  color: #7a5cff;
  opacity: .9;
  margin-bottom: 10px;
}

.quote {
  max-width: 900px;
  margin: auto;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.18;
  text-wrap: balance;
  color: var(--textColor);
}

.divider {
  margin: 45px auto;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 2px;
  background: linear-gradient(to right,
      transparent,
      #8b6fff,
      transparent);
}

.divider span {
  color: #795eff;
  font-size: 24px;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 28px;
  color: #6b4eff;
  background: var(--cardBg);
  border: 1px solid var(--cardBg);
}

.author h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--textColor);
}

.author p {
  margin-top: 3px;
  color: var(--textColor);
  font-size: 17px;
}

.refresh {
  position: absolute;
  right: 35px;
  bottom: 35px;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  background: var(--cardBg);
  color: #6b4eff;
  font-size: 34px;
  cursor: pointer;
  transition: .35s;
  box-shadow:
    0 12px 30px rgba(0, 0, 0, .15);
  transition: all ease .5s;
}

.refresh:active {
  transform: scale(.8);
}

.stopwatchContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: var(--textColor);
  padding: 40px;
}

.stopwatchTitle {
  font-size: 70px;
  font-weight: 700;
}

.sessionLabel {
  padding: 10px 24px;
  border-radius: 30px;
  background: var(--background);
  border: 1px solid var(--background);
  font-size: 20px;
  font-weight: 400;

}

.timerDisplay {
  font-size: 170px;
  font-weight: 900;
  letter-spacing: 4px;
  text-shadow: 0 0 20px var(--cardBg);
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.timerControls {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.timerBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px 32px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background: var(--background);
  color: var(--textColor);
  font-size: 20px;
  font-weight: 600;
  backdrop-filter: blur(15px);
  transition: .3s;
}

.timerBtn i {
  font-size: 20px;
}

.timerBtn:active {
  transform: scale(.8);
}

.todoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 35px;
  padding: 70px 50px;
}

.todoForm {
  width: 35%;
  background: var(--cardBg);
  backdrop-filter: blur(20px);
  border: 1px solid var(--cardBg);
  border-radius: 25px;
  padding: 30px;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
}

.todoForm h2 {
  font-size: 32px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputGroup label {
  font-size: 16px;
  margin-bottom: 8px;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 12px;
  background: var(--cardBg);
  color: var(--textColor);
  font-size: 16px;
}

.inputGroup textarea {
  min-height: 180px;
  resize: none;
  font-family: "Roboto";
}

.addTodoBtn {
  margin-top: auto;
  padding: 18px;
  border: none;
  border-radius: 14px;
  background: #3b82f6;
  color: var(--textColor);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.addTodoBtn:hover {
  background: #2563eb;
}

.addTodoBtn:active {
  transform: scale(.95);
}

.priority {
  display: inline-block;
  padding: 6px 14px;
  margin: 12px 0;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.priority.important {
  background: #facc1533;
  color: #facc15;
}

.todoCards {
  flex: 1;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
}

.todoCards h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.todoList {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 10px;
}

.todoList::-webkit-scrollbar {
  width: 0;
}

.todoCard {
  background: var(--cardBg);
  border: 1px solid var(--cardBg);
  border-radius: 18px;
  padding: 10px 30px;
  transition: .3s;
}

.completed {
  background-color: rgba(231, 14, 14, 0.214);
  text-decoration: line-through;
}

.todoTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.todoTop h4 {
  font-size: 22px;
}

.todoActions {
  display: flex;
  gap: 10px;
}

.todoActions button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: var(--cardBg);
  color: var(--textColor);
  cursor: pointer;
  font-size: 18px;
  transition: .3s;
}

.todoActions button:hover {
  background: #3b82f6;
}

.todoCard p {
  font-size: 16px;
  line-height: 1.6;
  opacity: .8;
  margin-bottom: 15px;
}

.todoCard span {
  display: inline-block;
  padding: 7px 14px;
  border-radius: 20px;
  background: rgba(59, 130, 246, .25);
  font-size: 13px;
}

.daily-goal-card {
  position: relative;
  width: 95%;
  height: 92%;
  padding: 35px 0 0 0;
  overflow: hidden;
}

.planner-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 30px;
}

.planner-header h2 {
  color: var(--textColor);
  font-size: 20px;
  margin-bottom: 6px;
}

.planner-header p {
  font-size: 15px;
  color: var(--textColor);
}

.planner-date {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: var(--textColor);
  background: var(--cardBg);
  padding: 12px 18px;
  border-radius: 15px;
}

.planner-grid {
  height: calc(100% - 90px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  overflow-y: auto;
  padding-right: 8px;
}

.time-slot {
  padding: 18px;
  border-radius: 18px;
  background: var(--cardBg);
  border: 1px solid var(--cardBg);
  transition: .3s;
}

.time-slot:hover {
  background: var(--cardBg);
}

.time-slot h3 {
  color: var(--textColor);
  font-size: 15px;
  margin-bottom: 15px;
}

.time-slot input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  outline: none;
  border-radius: 12px;
  color: var(--textColor);
  background-color: transparent;
  font-size: 20px;
}

.time-slot input::placeholder {
  color: var(--textColor);
}


.planner-grid::-webkit-scrollbar {
  width: 8px;
}

.planner-grid::-webkit-scrollbar-thumb {
  background: var(--cardBg);
  border-radius: 20px;
}
